.container {
  background-color: white;
}

.container-content {
  padding: 20px;
  overflow: hidden;
  text-align: center;
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
   font-size: 20px;
 }
}

.container-photo {
  position: relative;
  padding-top: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-title {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: absolute;
  top: 70px;
}

.container-links {
  margin-top: 30px;
}

#pure-table {
 margin: 0 auto;
 text-align: left;
 background-color: white;
 td {
  padding: 10px;
}
}

#remove {
  font-size: 15px;
}

img {
  max-width:100% !important;
  height:auto;
  justify-content: center;
}
